<!-- prettier-ignore -->
{% extends 'template.html' %} 
{% block title %} National ID System {% endblock%} 
{% block h1_text %} NID System Edit Page{% endblock%} 
{% block form_table_div %}
<hr />
Belongs to:
<span style="color: red"
	>{{Regist.fname.upper}} {{Regist.mname.upper}} {{Regist.sname.upper}}</span
>
<hr />
<form method="POST" action="/nidsys/{{Regist.id}}/{{PrevAdd.id}}/update">
	<table>
		<tr>
			<td>
				<label style="color: black; font-size: 21px"
					>Previous Addresses:</label
				>
			</td>
			<td>
				<label style="color: black; font-size: 21px"> From date:</label>
			</td>
			<td><label style="color: black; font-size: 21px"> To:</label></td>
		</tr>
		<br />
		<tr>
			<td>
				<input
					type="text"
					id="prevaddr"
					name="prevaddr"
					required
					style="
						color: blue;
						font-size: 21px;
						width: 700px;
						font-weight: bold;
					"
					placeholder="Residence you stayed at least a month"
					value="{{PrevAdd.prevaddr}}"
				/>
			</td>
			<td>
				<input
					type="text"
					id="fromdate"
					name="fromdate"
					style="
						color: blue;
						font-size: 21px;
						width: 200px;
						font-weight: bold;
					"
					placeholder="magmula nuong"
					required
					value="{{PrevAdd.fromdate}}"
				/>
			</td>
			<td>
				<input
					type="text"
					id="todate"
					name="todate"
					style="
						color: blue;
						font-size: 21px;
						width: 200px;
						font-weight: bold;
					"
					placeholder="hanggang"
					required
					value="{{PrevAdd.todate}}"
				/>
			</td>
			<td>
				<input
					type="submit"
					id="btnUpdate"
					name="btnUpdate"
					style="
						color: #a40000ff;
						background-color: lightgrey;
						height: 30px;
						width: 180px;
						font-size: 22px;
					"
					value="Update"
				/>
			</td>
		</tr>
	</table>
	{% csrf_token %}
</form>
<hr />
<div
	style="
		border: 1px solid red;
		width: 1000px;
		height: 345px;
		overflow: auto;
		float: left;
		background-image: url('/static/img/cBull.jpeg');
	"
></div>
<div
	style="
		border: 1px solid red;
		width: 300px;
		height: 345px;
		background-image: url('/static/img/cBull.jpeg');
		float: left;
	"
></div>
{% endblock%}
