<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>National ID System</title>
	</head>
	<body>
		<h1>National Identification Registration System</h1>
		<form method="POST">
			<label>Surname: </label
			><input
				id="surname"
				type="text"
				name="surname"
				placeholder="Enter surname here"
			/>
			<label>Firstname: </label
			><input
				id="firstname"
				type="text"
				name="firstname"
				placeholder="Enter firstname here"
			/>
			<label>Middlename: </label
			><input
				id="middlename"
				type="text"
				name="middlename"
				placeholder="Enter middlename here"
			/><br />
			<label>Address: </label
			><input
				id="address"
				type="text"
				name="address"
				placeholder="Enter known address here"
				size="50"
			/>
			<label>Contact No.: </label
			><input
				id="contactno"
				type="text"
				name="contactno"
				placeholder="Enter active contact number"
			/>

			<input id="btnConfirm" size="15" type="submit" value="Confirm" />
			{% csrf_token %}
		</form>
		<br />
		<hr />
		<div>
			<table id="registryTable">
				<tr>
					<!-- <td>1:{{ newFirstname }}</td> -->
					<td>
						1: {{newFirstname}} {{newMiddlename}} {{newSurname}}
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
