<!-- prettier-ignore -->
{% extends 'template.html' %} 
{% block title %} National ID System {% endblock%} 
{% block h1_text %} National Identification Registration System {% endblock%} 
{% block form_table_div %}
<form method="POST" action="nidsys/newlist_url">
	<label>Surname: </label
	><input
		id="surname"
		type="text"
		name="surname"
		placeholder="Enter surname here"
	/>
	<label>Firstname: </label
	><input
		id="firstname"
		type="text"
		name="firstname"
		placeholder="Enter firstname here"
	/>
	<label>Middlename: </label
	><input
		id="middlename"
		type="text"
		name="middlename"
		placeholder="Enter middlename here"
	/>
	<label> Birthdate: </label
	><input
		id="bdate"
		type="text"
		name="bdate"
		placeholder="Enter birthdate here"
		size="17"
	/><br />
	<label>Address: </label
	><input
		id="address"
		type="text"
		name="address"
		placeholder="Enter known address here"
		size="50"
	/>
	<label>Contact No.: </label
	><input
		id="contactno"
		type="text"
		name="contactno"
		placeholder="Enter active contact number"
	/>

	<input id="btnConfirm" size="15" type="submit" value="Confirm" />
	{% csrf_token %}
</form>
<br />
<hr />
<div>
	<table id="registryTable">
		{% for item in RegList %}
		<tr>
			<td width="400">
				{{forloop.counter}}: {{item.fname }} {{ item.mname }}
				{{item.sname }}
			</td>		
			<td>
			{% if item.status == "approved" %}
      			<a href="/nidsys/{{forloop.counter}}">{{item.idno}}</a>
      		{% else %}
      			Status - {{item.status}}</td>
   	 		{% endif %}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock%}
