<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>National ID System</title>
	</head>
	<body>
		<h1>National Identification Registration System</h1>
		<label>Surname: </label
		><input
			id="surname"
			type="text"
			name=""
			placeholder="Enter surname here"
		/>
		<label>Firstname: </label
		><input id="firstname" type="text" placeholder="Enter firstname here" />
		<label>Middlename: </label
		><input
			id="middlename"
			type="text"
			placeholder="Enter middlename here"
		/>
		<label>Address: </label
		><input
			id="address"
			type="text"
			placeholder="Enter known address here"
			size="30"
		/>
		<label>Contact No.: </label
		><input
			id="contactno"
			type="text"
			placeholder="Enter active contact number"
		/>

		<input id="btnConfirm" type="button" value="Confirm" />
	</body>
</html>
